.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        height: 400px;
        width: 400px;
        border: 1px solid #7451f8; ;
     
        input{
            width: 200px;
            height: 30px;
            margin: 10px;
        }

        button{
            width: 200px;
            height: 30px;
            border: none;
            cursor: pointer;
            background-color: #7451f8;
            color: white;
        }
        span {
            font-size: 12px;
            margin-top: 5px;
            color: red;
        }
    }
}